@{
    ViewData["Title"] = "Reset Password";
    ViewData["Header"] = "Reset Password";
    ViewData["Action"] = "ResetPassword";

    Layout = "_AuthLayout";

    string email = Context.Request.Query["email"];
    string token = Context.Request.Query["token"];
}
@using IdentityApp.Models.Account
@model ResetPasswordVM


<input type="hidden" asp-for="Email" value="@email">
<input type="hidden" asp-for="Token" value="@token">
<div>
    <label asp-for="NewPassword">Password</label>
    <input asp-for="NewPassword" placeholder="Write new password" />
    <span asp-validation-for="NewPassword" style="color: red;"></span>
</div>

<div>
    <label asp-for="ConfirmPassword">Password Confirm</label>
    <input asp-for="ConfirmPassword" placeholder="Write conform password" />
    <span asp-validation-for="ConfirmPassword" style="color: red;"></span>
</div>

<div asp-validation-summary="All" style="color: red;"></div>

<button>Reset</button>
