@using IdentityApp.Areas.Admin.Models.Users
@model CreateUserVM

<form asp-controller="Dashboard" asp-action="Create" method="post" class="p-4">
    <div class="mb-3">
        <label asp-for="Email" class="form-label">Email</label>
        <input class="form-control" asp-for="Email" placeholder="Write email">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Password" class="form-label">Password</label>
        <input class="form-control" asp-for="Password" placeholder="Write password">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Roles" class="form-label">Roles</label>
        <select class="form-control" asp-for="RoleIds" asp-items="Model.Roles"></select>
        <span asp-validation-for="Roles" class="text-danger"></span>
    </div>
    <div asp-validation-summary="All"></div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
